.derecha{
    border: 1px solid red;
    justify-content: flex-end;
    align-items: center;
}
.derecha li{
    align-self: flex-end;
}

.carrosel_image{
    width: 640px;
    height: 360px;
}
.formulario{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1 div{
    margin: 10px;
}

.cards{
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards img{
    height: 168px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cohorte{
    font-size: xx-large;
}

.contacto{
    width: 30%;
}