.carrosel_image{
    width: 640px;
    height: 360px;
}
.formulario{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1 div{
    margin: 10px;
}

.cards{
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards img{
    height: 168px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cohorte{
    font-size: xx-large;
}
.centrado > button{
    margin-top: 1%;
}
.contenido_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle{
    height: 50vh;
    width: 60vw;
    margin-top: 1%;
    border: 1px solid black;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.imagen_detalle{
    border: 1px solid black;
}
.detalle_evento{
    border: 1px solid black;
}
.contenido_stats{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}