.logo{
    height: 20px;
}

.carrosel_image{
    width: 640px;
    height: 360px;
}
.formulario{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1 div{
    margin: 10px;
}

.cards{
    padding: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards img{
    height: 168px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cohorte{
    font-size: xx-large;
}
.centrado > button{
    margin-top: 1%;
}
.contenido_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle{
    min-height: fit-content;
    height: 60vh;
    min-width: fit-content;
    width: 60vw;
    margin-top: 1%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.imagen_detalle>img{
    box-shadow: 1px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 1%;
}
.detalle_evento{
    border: 1px solid gray;
    padding: 3%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}
.contenido_stats{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}